.popup__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  overflow:hidden;
  position:fixed;
  top:0px;
}

.popup {
  z-index: 1;
  display: flex;
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 2px solid grey;
  background: #FFFFFF;
}

.popup__title {
  margin: 0;
  margin-bottom: 10px;
}

.popup__info {
  min-width: 350px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.popup__chart {
  margin: auto;
  margin-left: 10px;
}

.popup__close {
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: absolute;
  top: -8px;
  right: -8px;
}

.hidden {
  display: none;
}

/* CHECKBOX */ 

input[type = radio] {
  display: none;
}

.radio-custom {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}

input[type = radio]:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #413548;
  border-radius: 2px;
}